In [1]:
import pandas as pd
import numpy as np

In [94]:
expenses_df = pd.read_csv("adventcode1.csv",header=None, usecols=[0])

In [107]:
expenses_df.head()

      0
0  1735
1  1700
2  1358
3  1908
4  1634

In [97]:
expenses = expenses_df[0].tolist()

## Puzzle 1

In [105]:
for n1 in expenses:
    
    new_candidates = expenses.copy()
    new_candidates.remove(n1)

    for n2 in new_candidates:

        if n1 + n2 == 2020:
            print(n1,"+",n2,"=",n1+n2)
            print(n1,"x",n2,"=",n1*n2)   
            break
    else:
        continue
    break

1386 + 634 = 2020
1386 x 634 = 878724

## Puzzle 2

In [106]:
for n1 in expenses:
    
    new_candidates1 = expenses.copy()
    new_candidates1.remove(n1)

    for n2 in new_candidates1:
        
        new_candidates2 = expenses.copy()
        new_candidates2.remove(n2)
        
        for n3 in new_candidates2:
        
            if n1 + n2 + n3 == 2020:
                print(n1,"+",n2,"+",n3,"=",n1+n2+n3)
                print(n1,"x",n2,"x",n3,"=",n1*n2*n3)   
                break
        else:
            continue
        break
        
    else:
        continue
    break

266 + 989 + 765 = 2020
266 x 989 x 765 = 201251610