In [ ]:
import pandas as pd
import numpy as np

## Puzzle 1

In [ ]:
seats = pd.read_csv('input_data/adventcode5.txt', header=None)
seats.columns = ['seat_codes']

In [ ]:
seats.head()

In [ ]:
seats['rows'] = seats['seat_codes'].str.slice(0,7,1)
seats['seat_col'] = seats['seat_codes'].str.slice(7,10,1)
seats.head()

In [ ]:
seats['rows']=seats['rows'].str.replace('F','0').str.replace('B','1')
seats['seat_col']=seats['seat_col'].str.replace('R','1').str.replace('L','0')
seats.head()

In [6]:
seats['rows'] = seats['rows'].apply(int, base=2).apply(bin).apply(int, base=2)

In [7]:
seats['seat_col']=seats['seat_col'].apply(int, base=2).apply(bin).apply(int, base=2)

In [8]:
seats.head()

   seat_codes  rows  seat_col
0  BFBBFFBRRL    89         6
1  BFBFFFFRLL    80         4
2  FBFBFFBRRR    41         7
3  FFBBBFBRLL    29         4
4  BBBFBFBRLR   117         5

In [9]:
seats['seat_id'] = (seats['rows'] * 8) + seats['seat_col']

In [10]:
seats.head()

   seat_codes  rows  seat_col  seat_id
0  BFBBFFBRRL    89         6      718
1  BFBFFFFRLL    80         4      644
2  FBFBFFBRRR    41         7      335
3  FFBBBFBRLL    29         4      236
4  BBBFBFBRLR   117         5      941

In [11]:
seats['seat_id'].max()

965

## Puzzle 2

In [12]:
seats.sort_values('seat_id')

     seat_codes  rows  seat_col  seat_id
89   FFFBFFFRLL     8         4       68
431  FFFBFFFRLR     8         5       69
859  FFFBFFFRRL     8         6       70
374  FFFBFFFRRR     8         7       71
873  FFFBFFBLLL     9         0       72
..          ...   ...       ...      ...
722  BBBBFFFLLR   120         1      961
751  BBBBFFFLRL   120         2      962
35   BBBBFFFLRR   120         3      963
596  BBBBFFFRLL   120         4      964
452  BBBBFFFRLR   120         5      965

[897 rows x 4 columns]

In [13]:
full_seat_range = np.arange(seats['seat_id'].min(),seats['seat_id'].max(),1)
actual_seat_range = seats['seat_id'].to_list()

In [14]:
possible_seats = list(set(full_seat_range) - set(actual_seat_range))

In [15]:
possible_seats

[524]

In [16]:
for a_seat in possible_seats:
    if (a_seat + 1 in seats['seat_id']) and (a_seat-1 in seats['seat_id']):
        print(True)
    else:
        print(False)

True