In [26]:
import pandas as pd
import numpy as np

## Puzzle 1

In [60]:
game_data = pd.read_csv("input_data/adventcode8.txt", sep=' ',
                        header=None)

In [61]:
game_data.columns = ['operation', 'argument']
game_data

    operation  argument
0         acc        40
1         acc       -14
2         nop       386
3         jmp       262
4         acc        -4
..        ...       ...
637       acc        43
638       acc        25
639       acc        -5
640       acc        27
641       jmp         1

[642 rows x 2 columns]

In [62]:
accumulator = 0
row_idx = 0
rows_visited = []

while row_idx not in list(set(rows_visited)):
    
    rows_visited.append(row_idx)
    
    if game_data.loc[row_idx]['operation'] == 'acc':
        accumulator += game_data.loc[row_idx]['argument']
        row_idx +=1
    
    elif game_data.loc[row_idx]['operation'] == 'jmp':
        row_idx += game_data.loc[row_idx]['argument']
        
    else:
        row_idx +=1
    
print(accumulator)

1727

## Puzzle 2