In [1]:
import pandas as pd
import numpy as np

## Puzzle 1

In [2]:
df = pd.read_csv("input_data/adventcode2.txt",header=None, usecols=[0])
df.columns = ['puzzle_input']

In [3]:
df[['rule','letter','pw']] = df.puzzle_input.str.split(" ",expand=True)

In [4]:
df[['rule_min', 'rule_max']] = df.rule.str.split("-",expand=True)
df['letter'] = df.letter.str.replace(":","")

In [5]:
df['rule_min'] = df['rule_min'].astype(int)
df['rule_max'] = df['rule_max'].astype(int)

In [6]:
df['letter_count'] = ""

In [7]:
for i in np.arange(0,len(df),1):
    df.iloc[i,6] = df.iloc[i,3].count(df.iloc[i,2])

In [8]:
df['valid_pw1'] = df['letter_count'] <= df['rule_max']
df['valid_pw2'] = df['letter_count'] >= df['rule_min']

In [9]:
len(df.query('valid_pw1 == True & valid_pw2 == True'))

465

In [10]:
df.head()

,puzzle_input,rule,letter,pw,rule_min,rule_max,letter_count,valid_pw1,valid_pw2
0,16-18 h: hhhhhhhhhhhhhhhhhh,16-18,h,hhhhhhhhhhhhhhhhhh,16,18,18,True,True
1,17-18 d: ddddddddddddddddzn,17-18,d,ddddddddddddddddzn,17,18,16,True,False
2,15-18 c: cccccccccccccczcczc,15-18,c,cccccccccccccczcczc,15,18,17,True,True
3,3-9 r: pplzctdrc,3-9,r,pplzctdrc,3,9,1,True,False
4,4-14 d: lxdmddfddddddd,4-14,d,lxdmddfddddddd,4,14,10,True,True

## Puzzle 2

In [11]:
df2 = df
df2.head()

,puzzle_input,rule,letter,pw,rule_min,rule_max,letter_count,valid_pw1,valid_pw2
0,16-18 h: hhhhhhhhhhhhhhhhhh,16-18,h,hhhhhhhhhhhhhhhhhh,16,18,18,True,True
1,17-18 d: ddddddddddddddddzn,17-18,d,ddddddddddddddddzn,17,18,16,True,False
2,15-18 c: cccccccccccccczcczc,15-18,c,cccccccccccccczcczc,15,18,17,True,True
3,3-9 r: pplzctdrc,3-9,r,pplzctdrc,3,9,1,True,False
4,4-14 d: lxdmddfddddddd,4-14,d,lxdmddfddddddd,4,14,10,True,True

In [12]:
df2.columns

Index(['puzzle_input', 'rule', 'letter', 'pw', 'rule_min', 'rule_max',
       'letter_count', 'valid_pw1', 'valid_pw2'],
      dtype='object')

In [13]:
df2.columns=['puzzle_input', 'rule', 'letter', 'pw', 'pos1', 'pos2',
       'letter_count', 'valid_pw1', 'valid_pw2']

In [14]:
df2['pos1'] = df2['pos1'] - 1
df2['pos2'] = df2['pos2'] - 1

In [15]:
df2.head()

,puzzle_input,rule,letter,pw,pos1,pos2,letter_count,valid_pw1,valid_pw2
0,16-18 h: hhhhhhhhhhhhhhhhhh,16-18,h,hhhhhhhhhhhhhhhhhh,15,17,18,True,True
1,17-18 d: ddddddddddddddddzn,17-18,d,ddddddddddddddddzn,16,17,16,True,False
2,15-18 c: cccccccccccccczcczc,15-18,c,cccccccccccccczcczc,14,17,17,True,True
3,3-9 r: pplzctdrc,3-9,r,pplzctdrc,2,8,1,True,False
4,4-14 d: lxdmddfddddddd,4-14,d,lxdmddfddddddd,3,13,10,True,True

In [16]:
for i in np.arange(0,len(df2),1):
    
        df2['valid_pw1'][i] = (df2['pw'][i][df2['pos1'][i]] == df2['letter'][i])
        df2['valid_pw2'][i] = (df2['pw'][i][df2['pos2'][i]] == df2['letter'][i])

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [17]:
len(df2.query('valid_pw1 == True & valid_pw2 == False'))+len(df2.query('valid_pw1 == False & valid_pw2 == True'))

294